@model LonghornBank.Models.Member

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h2>Details</h2>

    <div>
        <h4>Member</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OkToText)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OkToText)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Major)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Major)
            </dd>
    
        </dl>
    </div>
    
    <table class="table table-bordered">
        <tr>
            <th>
                Event Title
            </th>
            <th>
                Event Date
            </th>
        </tr>

        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EventTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
            </tr>
        }
    </table>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</body>
</html>
